# OpenAPI specific options
OPENAI_API_KEY_1=xxx
OPENAI_API_KEY_2=yyy
OPENAI_API_KEY_3=

# Anthropic specific options
ANTHROPIC_API_KEY_1=xxx
ANTHROPIC_API_KEY_2=

# HuggingFace specific options
HUGGINGFACE_API_KEY_1=xxx
HUGGINGFACE_API_KEY_2=

# AWS specific options
AWS_REGION=us-east-1